<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles.css" rel="stylesheet">
        <title> Lights Mothafucker </title>
    </head>
    <body>
        <!-- What the royal fuck are you looking at -->
        <h1> Lights Mothafucker </h1>

        <section class="buttons"
            <button type="button" class="btn"><a href="/program?func=alternate"> Alternate </a></button>
            <button type="button" class="btn"><a href="/program?func=flow"> Flow </a></button>
            <button type="button" class="btn"><a href="/program?func=collapse"> Collapse </a></button>
            <button type="button" class="btn"><a href="/program?func=nightLights"> Night Light </a></button>
            <button type="button" class="btn"><a href="/program?func=virginLights"> Virgin Lights </a></button>
            <button type="button" class="btn"><a href="/program?func=Lights"> Lights </a></button>
            <input type="range" min="0" max="1" value="0.8" class="brightness">
        </section>
    </body>
</html>

